button, input, select, textarea {
  font-family: times, serif;
  font-size: 150%;
  box-sizing: border-box;
  display: block;
  margin: 1.5rem;
  color: Gray;
}
input[type="submit"] {
  background-color: Indigo;
}
input {
  border-radius: 20px;
}
fieldset {
  border: dotted;
  width: 15%;
}
fieldset input {
  display: inline;
}
.bubble input {
  cursor: pointer;
}
