h1 {
  color: magenta;
  text-align: center;
  font-family: 'Righteous', cursive;
}
h2 {
  color: #248738;
  font-weight: lighter;
  background-color: #ef9799;
}
h3 {
  color: #c59bf2;
  background-color: yellow;
  font-family: 'Literata', serif;
}
h4 {
  color: #42bf15;
  background-color: inherit;
  font-size: 150%;
  margin: 0;
  font-family: 'DM Serif Text', serif;
}
header {
  margin: 20px 0 20px 0;
}
body {
  background-color: #91fff9;
  margin: 0;
}
footer {
  text-align: center;
}
p {
  color: dodgerblue;
  font-size: 16px;
  background-color: inherit;
  font-family: 'Arimo', sans-serif;
}
img {
  border-style: dashed;
  border-color: blue;
  border-width: 3px;
  background-color: white;
}
ul {
  color: red;
  background-color: #b7f2a2;
}
article {
  transition: border, 1.5s, 1.5s;
}
a {
  transition: 0.5s;
}
.navbox i:nth-child(4n) {
  color: red;
}
a:hover {
  color: #fc86dd;
  font-style: italic;
}
.fa-handshake {
  color: orange;
}
.fa-shoe-prints {
  font-size: 200%;
}
.highlight:hover {
  color: black;
  background-color: yellow;
}
article.box:hover {
  border: 25px solid #c8facc;
}
.exclaim {
  color: magenta;
  font-weight: bolder;
  background-color: black;
}
.box {
  height: 200px;
  width: 150px;
  border: 15px solid #c8facc;
  background: yellow;
  text-align: center;
}
.container {
  height: 520px;
  background-color: #ffccfd;

  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
.navbox {
  height: 60px;
  background: #c56be3;
  text-align: center;
}
#galatic-theme {
  color: #c4bd38;
  background-color: #842191;
}
#galatic-img {
  border-style: dashed;
  border-color: #c4bd38;
  border-width: 5px;
  background-color: #842191;
}
#jungle-theme {
  color: #25ba56;
  background-color: #f2e23a;
}
#jungle-art {
  border-style: groove;
  border-color: #25ba56;
  border-width: 10px;
  background-color: black;
}
